<div class="card margin-navbar">
    <div class="card-header">
        <div class="row">
            <button mat-icon-button (click)="back()" class="float-left">
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
            <h3 class="mb-0 h3 text-center pb-0 pt-1">Click&Collect</h3>
        </div>
    </div> 
    <div class="card-body">
        <div class="row commande mb-3 pt-2" (click)="nouvelleCommande()" [class.active]="active">
            <div class="col-9">
                <h4 class="font-weight-light">Nouvelle Commande</h4>
            </div>
            <div class="col-3">
                <mat-icon class="icon-display">
                    add_circle_outline
                </mat-icon>
            </div>
        </div>
        <div *ngIf="!isEmpty && !isLoading">
            <div *ngFor="let commande of listeCommande">
               <app-commande-list-element [nomCommercant]="commande.commercant" [numeroCommande]="commande.cid" 
                    [etat]="commande.etat" [date]="commande.date" (click)="goToCommande(commande)" [totalCommande]="commande.total"></app-commande-list-element>
            </div>   
        </div>
    </div>
</div>
<app-navbar></app-navbar>
