.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 4%;
}

.btn-style {
    margin-left: 1em;
    margin-right: 1em;
}

.card-style {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}