<div class="card margin-navbar" >
    <div class="card-header">
        <div class="row">
            <button mat-icon-button (click)="back()" class="float-left">
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
            <h3 class="mb-0 h3 text-center pb-0 pt-1">Click&Collect</h3>
            
        </div>
    </div> 
    <div class="card-body">    
        <div *ngIf="isLoading" class="mt-20">
            <div class="row">
                <div class="col-12 justify-content-center d-flex">
                    <mat-spinner class="shoploc-spinner"></mat-spinner>
                </div>
            </div>
        </div>
        <div *ngIf="!isLoading && isListeProduitEmpty">
            <div class="row">
                <div class="col-12">
                    <p class="font-weight-light display-4 text-info">Ce commerçant n'a pas encore renseigné de produits</p>
                </div>
            </div>
        </div>
        <div *ngIf="!isLoading && !isListeProduitEmpty" class="margin-liste">
            <div class="row ml-1 mr-1">
                <div clas="col-12">
                    <h3 class="text-info font-weight-light">{{libelleCommercant}}</h3>
                </div>
            </div>
            <ul class="nav nav-tabs" style="font-size: 0.75rem;">
                <li class="nav-item">
                  <a class="nav-link" [ngClass]="{'active': ongletProduit}" (click)="activeOngletProduit()">Produits</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [ngClass]="{'active': ongletFidelite}" (click)="activeOngletFidelite()">Cadeau fidélités</a>
                </li>
            </ul>
            <div *ngIf="ongletProduit" id="onglet-produit">
                <div *ngFor="let produit of produits">   
                    <app-creation-commande-client-produit-element [produit]="produit" id="produit-{{produit.pid}}" (ajouterProduit)="addProductToCommande($event)"
                        [quantite]="getQuantiteProduit(produit.pid)" [isFidelite]="false">
                    </app-creation-commande-client-produit-element>
                </div>
            </div>
            <div *ngIf="ongletFidelite" id="onglet-fidelite">
                <div *ngFor="let produit of produitsFidelite">   
                    <app-creation-commande-client-produit-element [produit]="produit" id="produit-{{produit.pid}}" (ajouterProduit)="addProductToCommande($event)"
                        [quantite]="getQuantiteProduitFidelite(produit.pid)" [isFidelite]="true">
                    </app-creation-commande-client-produit-element>
                </div>
            </div>
            <div *ngIf="commandeCreated" class="row">
                <button type="button" class="btn btn-success position-valider" (click)="openModal()">Valider la commande</button>
            </div>
        </div>
    </div>
</div>
<app-navbar></app-navbar>

<div class="modal" id="modal-error" [style.display]="showError ? 'block' : 'none'">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-info font-weigth-ligth">Attention !  </h4>
                <button type="button" class="close" data-dismiss="modal" (click) = "hideError()">&times;</button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <p class="text-danger text-center">{{messageError}}</p>   
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal" (click) = "hideError()">OK</button>
            </div>
        </div>
    </div>        
</div>

<div class="modal" id="myModal" [style.display]="showModal ? 'block' : 'none'">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title text-info font-weigth-ligth">Choix du mode de paiement </h4>
          <button type="button" class="close" data-dismiss="modal" (click) = "hide()">&times;</button>
        </div>

        <div class="modal-body">
            <div class="row">
                <div class="col-12">
                    <button type="button" class="btn btn-info btn-block mb-2" (click)="validerCommandePaiementShopLoc()">Payer via l'application ShopLoc</button>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button type="button" class="btn btn-info btn-block" (click)="validerCommandePaiementEnDirect()">Payer en direct chez mon commerçant</button>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>