.margin-liste{
    margin-bottom: 5%;
}

@media (max-width: 599px){
    .position-valider{
        position : fixed;
        bottom:70px;
        left: 50%; 
        transform: translateX(-50%);
        box-shadow: 0 5px 25px 0
                    rgba(0,0,0,.25);
        width : 90%;
    }
}

@media (min-width: 600px){
    .position-valider{
        position : fixed;
        bottom: 80px; 
        left: 50%; 
        transform: translateX(-50%);
        box-shadow: 0 5px 25px 0
                    rgba(0,0,0,.25);
        width : 90%;
    }
}

.bouton-perso{
    background-color :  #17a2b8;
    border-radius: 0.25rem;
}

.bouton-perso h4{
    color : white;
}

.white{
    color : white;
}
