<div class="card margin-navbar">
    <div class="card-header">
        <div class="row">
            <div class="col-2 float-left">
                <button mat-icon-button (click)="back()" class="float-left">
                    <mat-icon>keyboard_arrow_left</mat-icon>
                </button>
            </div>
            <div class="col-10 float-left">
                <p class="mb-0 h4 text-align-left pb-0 pt-1 float-left">Ma Carte</p>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row justify-content-center">
            <div *ngIf="generated" class="col-8 justify-content-center d-flex">
                <qrcode [scale]="10" [qrdata]="qrValue"  width="max-width" [errorCorrectionLevel]="'M'"></qrcode>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-8 justify-content-center d-flex">
                <h3 class="text-info font-weight-light">{{qrValue}}</h3>
            </div>
        </div>
    </div> 
</div>
<app-navbar></app-navbar>