.active{
    background-color: rgba(0, 0, 0, 0.15);
}

.produit{
    border-radius: 0.25rem;
    transition: 0.3s;
    cursor: pointer;
}

.produit:hover{
    background-color: rgba(0, 0, 0, 0.15);
}

.img-custom{
    width:  auto;
    height: 100px;
}