<div class="card margin-navbar">
    <div class="card-header">
        <div class="row">
            <div class="col-2 float-left">
                <button mat-icon-button (click)="back()" class="float-left">
                    <mat-icon>keyboard_arrow_left</mat-icon>
                </button>
            </div>
            <div class="col-10 float-left">
                <p class="mb-0 h4 text-align-left pb-0 pt-1 float-left">Lecteur</p>
            </div>
        </div>
    </div>
    <div class="card-body">
        <zxing-scanner #scanner class="test-class" start="true" [device]="currentDevice"
            (scanSuccess)="handleQrCodeResult($event)"></zxing-scanner>
        <div *ngIf="!isLoading" class="row">
            <div class="col-12 justify-content-center d-flex mt-3 p2">
                <h4 class="text-info font-weight-light">Scannez le QRcode présenté par le client</h4>
            </div>
        </div>

        <div *ngIf="isLoading" class="mt-20">
            <div class="row">
                <div class="col-12 justify-content-center d-flex">
                    <mat-spinner class="shoploc-spinner"></mat-spinner>
                </div>
            </div>
            <div class="row">
                <div class="col-12 justify-content-center d-flex mt-3 p2">
                    <h4 class="text-info font-weight-light">Activer la caméra pour utliser le lecteur</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<app-navbar></app-navbar>