<div class="card margin-navbar">
    <div class="card-body">
        
        <ul class="nav nav-tabs" style="font-size: 0.75rem;">
          <li class="nav-item">
            <a class="nav-link" [ngClass]="{'active': waitActive}" (click)="showWaitPaiement()">En attente de paiement</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [ngClass]="{'active': prepaActive}" (click)="showEnPreparation()">En préparation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" [ngClass]="{'active': takeActive}" (click)="showARecuperer()">A récupérer</a>
          </li>
        </ul>
        <div *ngIf="prepaActive && listeCommandeEnPrepa.length == 0">
          <p class="h4 text-info font-weight-light">Aucune commande en préparation</p>
        </div>
        <div *ngIf="waitActive && listeCommandeWaitPaiement.length == 0">
          <p class="h4 text-info font-weight-light">Aucune commande en attente de paiement</p>
        </div>
        <div *ngIf="takeActive && listeCommandeARecuperer.length == 0">
          <p class="h4 text-info font-weight-light">Aucune commande à récupérer</p>
        </div>
        <div *ngIf="!isLoadingPrepa && prepaActive">
            <div *ngFor="let commande of listeCommandeEnPrepa">
               <app-commercant-commande-list-element [nomClient]="commande.client" [numeroCommande]="commande.cid" 
               [etat]="commande.etat" [date]="commande.date" (click)="getDetailCommande(commande)"></app-commercant-commande-list-element>
            </div>   
        </div>
        <div *ngIf="!isLoadingPaiement && waitActive">
            <div *ngFor="let commande of listeCommandeWaitPaiement">
               <app-commercant-commande-list-element [nomClient]="commande.client" [numeroCommande]="commande.cid" 
               [etat]="commande.etat" [date]="commande.date" (click)="getDetailCommande(commande)"></app-commercant-commande-list-element>
            </div>   
        </div>
        <div *ngIf="!isLoadingRecup && takeActive">
            <div *ngFor="let commande of listeCommandeARecuperer">
               <app-commercant-commande-list-element [nomClient]="commande.client" [numeroCommande]="commande.cid" 
               [etat]="commande.etat" [date]="commande.date" (click)="getDetailCommande(commande)"></app-commercant-commande-list-element>
            </div>   
        </div>
    </div>
</div>
<app-navbar></app-navbar>