<div class="card margin-navbar">
    <div class="card-body">
        
        <ul class="nav nav-tabs" style="font-size: 0.75rem;">
            <li class="nav-item">
              <a class="nav-link" [ngClass]="{'active': prepaActive}" (click)="getEnPreparation()">En préparation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [ngClass]="{'active': waitActive}" (click)="getWaitPaiement()">En attente de paiement</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" [ngClass]="{'active': takeActive}" (click)="getARecuperer()">A récupérer</a>
            </li>
        </ul>
        <div *ngIf="!isLoadingPrepa && prepaActive">
            <div *ngFor="let commande of listeCommandeEnPrepa">
               <app-commercant-commande-list-element [nomClient]="commande.client" [numeroCommande]="commande.cid" 
               [etat]="commande.etat" [date]="commande.date" (click)="getDetailCommande(commande)"></app-commercant-commande-list-element>
            </div>   
        </div>
        <div *ngIf="!isLoadingPaiement && waitActive">
            <div *ngFor="let commande of listeCommandeWaitPaiement">
               <app-commercant-commande-list-element [nomClient]="commande.client" [numeroCommande]="commande.cid" 
               [etat]="commande.etat" [date]="commande.date" (click)="getDetailCommande(commande)"></app-commercant-commande-list-element>
            </div>   
        </div>
        <div *ngIf="!isLoadingRecup && takeActive">
            <div *ngFor="let commande of listeCommandeARecuperer">
               <app-commercant-commande-list-element [nomClient]="commande.client" [numeroCommande]="commande.cid" 
               [etat]="commande.etat" [date]="commande.date" (click)="getDetailCommande(commande)"></app-commercant-commande-list-element>
            </div>   
        </div>
    </div>
</div>
<app-navbar></app-navbar>