<div class="card margin-navbar">
    <div class="card-header">
        <div class="row">
            <button mat-icon-button (click)="back()" class="float-left">
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
            <h3 class="mb-0 h3 text-center pb-0 pt-1">Paiement</h3>
        </div>
    </div> 
    <div class="card-body">
        <div *ngIf="isReady && assezDargent" id="ecran-paiement">
            <div id="paiement-euro" class="paiement p-2 mb-3">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
                                <p class="text-info font-weight-light">A payer avec le solde ShopLoc : </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <p class="font-weight-light">Solde Shoploc: </p>
                            </div>
                            <div class="col-6">
                                <span id="span-solde-avant-euro">{{soldeClient}}</span>€
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <p class="font-weight-light">Total à payer : </p>
                            </div>
                            <div class="col-6">
                                <span id="span-total-euro">{{prixTotalCommande}}</span>€
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button *ngIf="contenuReady" type="button" class="btn btn-info btn-block position-valider mb-2" (click)="afficheDetail()">Detail de la commande</button>
            <button type="button" class="btn btn-success btn-block position-valider" (click)="payerCommande()">Valider le paiement</button>
        </div>
        <div *ngIf="isReady && !assezDargent" id="pas-dargent">
            <div class="row">
                <h4 class="text-info font-weight-light h4 text-justify ml-2 mr-2">Vous n'avez pas assez d'argent sur votre solde ShopLoc pour payer cette commande </h4>
            </div>
            <button type="button" class="btn btn-info btn-block position-valider mb-2" (click)="navigateToRechargementPorteMonnaie()">Recharger mon compte shoploc </button>   
        </div>
        <div *ngIf="!isReady" class="mt-20">
            <div class="row">
                <div class="col-12 justify-content-center d-flex">
                    <mat-spinner class="shoploc-spinner"></mat-spinner>
                </div>
            </div>
        </div>   
    </div>
</div>
<app-navbar></app-navbar>

<div class="modal" id="myModal" [style.display]="showModal ? 'block' : 'none'">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title text-info font-weigth-ligth">Détail de votre commande :</h4>
          <button type="button" class="close" data-dismiss="modal" (click) = "hide()">&times;</button>
        </div>

        <div *ngIf="contenuReady" class="modal-body">
            <div *ngFor="let produit of contenuCommande.produits"> 
                <div class="row">
                    <div class="col-10">
                        <p class="font-weight-light">{{produit.libelle}}</p>
                    </div>
                    <div class="col-2">
                        <p class="font-weight-light">x{{produit.quantite}}</p>
                    </div>
                </div>
            </div> 
        </div>

         <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-info" data-dismiss="modal" (click)="hide()">OK</button>    
        </div>
      </div>
    </div>
</div>