<div class="row">
    <div class="col-12">
        <h3 class="text-info font-weight-light">{{libelleMagasin}}</h3>
    </div>
</div>
<div class="row">
    <div class="col-5">
        <p class="text-info font-weight-light">email : </p>
    </div>
    <div class="col-7">
        <p>{{username}}</p>
    </div>
</div>
<div class="row">
    <div class="col-5">
        <p class="text-info font-weight-light">Numéro de SIRET : </p>
    </div>
    <div class="col-7">
        <p>{{siret}}</p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p class="text-info font-weight-light mb-0">description : </p>
    </div>
    <div class="col-12">
        <p class="font-weight-light">{{description}}</p>
    </div>
</div>
<div class="row">
    <div class="col justify-content-center d-flex">
        <button mat-icon-button (click)="refuseCommercant()" id="btnRefuseSignUp">
            <mat-icon [ngStyle]="{'color':'red'} "class="h1" >highlight_off</mat-icon>
        </button>
    </div>
    <div class="col justify-content-center d-flex">
        <button mat-icon-button (click)="valideCommercant()" id="btnAcceptSignUp" class="green-text">
            <mat-icon [ngStyle]="{'color':'green'}" class="h1">check_circle_outline</mat-icon>
        </button>
    </div>
</div>   

