 <div>
    <div class="row">
        <div class="col">
            <button mat-icon-button (click)="back()" class="float-left">
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
        </div>
        <div class="col">
            <h1 class="text-center">Profil</h1>
        </div>
        <div class="col">
            
        </div> 
    </div>
    <mat-list>
        <mat-list-item>Item 1</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Item 2</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <button type="button" class="btn btn-danger" color ="red" (click)="logout()">Logout</button>
        </mat-list-item>
    </mat-list>
</div>
