<div class="card margin-navbar">
    <div class="card-header">
        <div class="row">
            <div class="col-2 float-left">
                <button mat-icon-button (click)="back()" class="float-left">
                    <mat-icon>keyboard_arrow_left</mat-icon>
                </button>
            </div>
            <div class="col-10 float-left">
                <p class="mb-0 h4 text-align-left pb-0 pt-1 float-left">Mon Profil</p>
            </div>
        </div>
    </div> 
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <a class="list-group-item text-dark" *ngIf="'ROLE_COMMERCANT' == role" href="commercant-produit">Mes produits</a>
            <mat-divider></mat-divider>
            <li class="list-group-item">Item 2</li>
            <mat-divider></mat-divider>
            <li class="list-group-item">
                <button type="button" class="btn btn-danger" id="logout" color ="red" (click)="logout()">Logout</button>
            </li>
        </ul>
    </div>
</div>
<app-navbar></app-navbar>
