<div class="container">
    <div class="row">
        <div class="col-md-12 min-vh-100 d-flex flex-column justify-content-center">
            <div class="row">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <div class="mt-3 text-center">
                        <img src="assets/icons/shoploc_logo.png" class="mx-auto d-block img-fluid" alt="logo Shoploc"/>
                    </div>
                    
                    <p [hidden]="!inError" class="alert alert-danger ">
                        {{errorMessage}}
                    </p>
                    <!-- form card signup -->
                    <div class="card rounded shadow shadow-sm">
                        <div class="card-header">
                            <div class="row">
                                <div class="col">
                                    <h3 class="mb-0">Inscription</h3> 
                                </div>
                                <div class="col">
                                    <span id="swich-text" class="float-right mb-0 align-bottom d-inline">Vous êtes commerçant ? </span>
                                </div>                              
                            </div>
                        </div>
                        <app-client-sign-up></app-client-sign-up>
                    </div>
                    <!-- /form card signup -->
                </div>
            </div>
            <!--/row-->
        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>