<div class="commercant" (click)="detailCommercant()" [class.active]="clicked">
    <div class="row justify-content-center">
        <div class="col-12">
            <img src="assets/commerce/{{lienImage}}" class="img-fluid rounded" alt="image non trouvée" />
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12">
            <h3 class="text-left text-info font-weight-light mb-0">{{libelleMagasin}}</h3>
            <p class="text-left font-weight-light mb-0">{{description}}</p>
            <p class="text-left font-weight-light h6">{{lieu.adresse}} {{lieu.ville}}</p>
        </div>
    </div>
</div>