@import '~bootstrap/dist/css/bootstrap.css';

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    
}

@media (max-width: 599px){
    .margin-navbar{
        margin-bottom: 56px;
    }
}

@media (min-width: 600px){
    .margin-navbar{
        margin-bottom: 64px;
    }
}

/**
    Spinner de chargement : couleur des spinners par la couleur info de bootstrap
*/
.mat-progress-spinner circle, .mat-spinner circle { 
    stroke: #17a2b8;
}


@import "~leaflet/dist/leaflet.css";
