.user_name {
    display: flex; 
    justify-content: center;
    font-size: 1.7em;
    text-decoration: underline;
}

.vfp_days {
    display: flex; 
    justify-content: center;
    font-size: 1.5em;
}

.vfp_on {
    color: lightgreen;
    font-size: 1.5em;
}

.vfp_number {
    font-size: 1.25em;
    color: red;
    margin-right: 5px;
}

.all-container {
    margin-bottom: 10%;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 4%;
    margin-bottom: 4%;
}

.btn-style {
    margin-left: 1em;
    margin-right: 1em;
}

.client-infos{
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 0.5em;
}

.text-statut{
    font-size: 1.35em;
    color:green;
    position: absolute;
    right:0;
    margin-right: 0.5em;
    margin-top: 0.1em;
}