.red-icon {
    color : red;
    width: 5rem;
    height: 5rem;
    font-size: 5rem;
    vertical-align: middle;
    display: inline-flex;
    margin-top: 5rem;
    margin-left: 42%;
}

.green-icon {
    color : green;
    width: 5rem;
    height: 5rem;
    font-size: 5rem;
    vertical-align: middle;
    display: inline-flex;
    margin-top: 5rem;
    margin-left: 42%;
}

.btn-shoploc {
    margin-left: 43%;
}